<template>
  <div class="h-fit home flex justify-center items-center">
    <div class="w-4/6 flex flex-col items-center">
      <div class="p-6">
        <img class="" width="198" height="198" alt="Vue logo" src="../assets/logo.jpg">
      </div>
      <div class="bg-white shadow-md rounded px-6 pt-4 pb-6 mb-2">
        <p class="block text-gray-700 text-sm font-bold mb-2">Animalyu es una página enfocada a el cuidado de los animales callejeros, donde se intenta tener localizados a estos para que las cuidadoras y centros de veterinatias puedan acogerlos y puedan ser ayudados economicamente</p>
      </div>
      
    </div>
    
  </div>
</template>

<script>
// @ is an alias to /src

export default {
}
</script>
<style>
img{
  border-radius: 50%;
  background-color: white;
}
</style>