<template>
    <div class="flex items-center flex-col my-5">
            <div class="bg-white py-6 px-4 rounded focus:outline-none focus:shadow-outline w-2/4 mb-8">
                <h1 class="block text-gray-700 text-3xl font-bold mb-2"> TERMINOS DE USO</h1>
                <p class="block text-gray-700 text-sm mb-2">
                    Esta página web es propiedad y está operado por Animalyu. 
                    Estos Términos establecen los términos y condiciones bajo los cuales tu puedes usar nuestra página
                    web y servicios ofrecidos por nosotros. Esta página web ofrece a los visitantes un lugar en el cual
                    ayudar a animales y a las protectoras de estos. Al acceder o usar la página web de nuestro servicio,
                    usted aprueba que haya leído, entendido y aceptado estar sujeto a estos Términos:
                </p>
                <p class="block text-gray-700 text-sm mb-2">
                    El Servicio y todos los materiales incluidos o transferidos, incluyendo, sin limitación, software,
                    imágenes, texto, gráficos, logotipos, patentes, marcas registradas, marcas de servicio, derechos de autor,
                    fotografías, audio, videos, música y todos los Derechos de Propiedad Intelectual relacionados con ellos,
                    son la propiedad exclusiva de Animayu. Salvo que se indique explícitamente en este documento, no se considerará
                    que nada en estos Términos crea una licencia en o bajo ninguno de dichos Derechos de Propiedad Intelectual,
                    y tu aceptas no vender, licenciar, alquilar, modificar, distribuir, copiar, reproducir, transmitir, exhibir
                    públicamente, realizar públicamente, publicar, adaptar, editar o crear trabajos derivados de los mismos.
                </p>
                <p class="block text-gray-700 text-sm mb-2">
                    Podemos terminar o suspender de manera permanente o temporal tu acceso al servicio sin previo aviso y responsabilidad por cualquier razón, incluso si a nuestra sola determinación tu violas alguna disposición de estos Términos o cualquier ley o regulación aplicable. Puedes descontinuar el uso y solicitar cancelar tu cuenta y / o cualquier servicio en cualquier momento. Sin perjuicio de lo contrario en lo que antecede, con respecto a las suscripciones renovadas automáticamente a los servicios pagados, dichas suscripciones se suspenderán solo al vencimiento del período correspondiente por el que ya has realizado el pago.
                </p>
                <p class="block text-gray-700 text-sm mb-2">
                    Nos reservamos el derecho de modificar estos términos de vez en cuando a nuestra entera discreción. Por lo tanto, debes revisar estas páginas periódicamente. Cuando cambiemos los Términos de una manera material, te notificaremos que se han realizado cambios importantes en los Términos. El uso continuado de la página web o nuestro servicio después de dicho cambio constituye tu aceptación de los nuevos Términos. Si no aceptas alguno de estos términos o cualquier versión futura de los Términos, no uses o  accedas (o continúes accediendo) a la página web o al servicio.
                </p>
                <p class="block text-gray-700 text-sm mb-2">
                    Estos Términos, los derechos y recursos provistos aquí, y todos y cada uno de los reclamos y disputas relacionados con este y / o los servicios, se regirán, interpretarán y aplicarán en todos los aspectos única y exclusivamente de conformidad con las leyes sustantivas internas de [ Nombre del país / estado], sin respeto a sus principios de conflicto de leyes. Todos los reclamos y disputas se presentarán y usted acepta que sean decididos exclusivamente por un tribunal de jurisdicción competente ubicada en [Nombre de la ciudad de los tribunales]. La aplicación de la Convención de Contratos de las Naciones Unidas para la Venta Internacional de Bienes queda expresamente excluida.
                </p>
            </div>
            
        
    </div>
</template>
<style>
p {
    text-align: left;
}
</style>