<template>
    <div class="relative rounded-xl overflow-auto p-8">
  <div class="personHeight overflow-auto flex-wrap max-h-5xl mx-auto bg-white dark:bg-slate-800 dark:highlight-white/5 shadow-lg ring-1 ring-black/5 rounded-xl flex flex-row divide-y divide-x dark:divide-slate-200/5">
    <div v-for="gato in gatos" :key="gato.id" class="flex items-center gap-4 p-4 w-1/4 h-2/5 flex-col">
      <img class="w-44 h-36"  v-bind:src="gato.foto" width="">
      <div class="flex flex-col">
        <strong class="text-slate-900 text-base dark:text-slate-200 font-bold"> {{ gato.nombre }}</strong>
        <span class="text-slate-500 text-sm font-medium dark:text-slate-400">- {{ gato.edad }} años </span>
        <span class="text-slate-500 text-sm font-medium dark:text-slate-400">- {{ gato.peso }} kilos </span>
        <span class="text-slate-500 text-sm font-medium dark:text-slate-400">- raza: {{ gato.raza }} </span>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
   data(){
    return{
      gatos:[
        {nombre:'Pepa', edad: '10', peso: '5.2', foto: require('../assets/gato1.jpg'), raza: 'persa'},
        {nombre:'pipa', edad: '4', peso: '3.0', foto: require('../assets/gato2.jpg'), raza: 'maine coon'},
        {nombre:'pupa', edad: '1', peso: '1.1', foto: require('../assets/gato3.jpg'), raza: 'siamés'},
        {nombre:'popa', edad: '3', peso: '3.4', foto: require('../assets/gato4.jpg'), raza: 'sphynx'},
        {nombre:'papa', edad: '12', peso: '1.2', foto: require('../assets/gato2.jpg'), raza: 'ragdoll'},
        {nombre:'pepo', edad: '5', peso: '2.3', foto: require('../assets/gato3.jpg'), raza: 'munchkin'},
        {nombre:'pepo', edad: '5', peso: '2.3', foto: require('../assets/gato4.jpg'), raza: 'scottish fold'},
        {nombre:'pepo', edad: '5', peso: '2.3', foto: require('../assets/gato1.jpg'), raza: 'siberiano'},
        {nombre:'pepo', edad: '5', peso: '2.3', foto: require('../assets/gato3.jpg'), raza: 'bombai'},
        {nombre:'pepo', edad: '5', peso: '2.3', foto: require('../assets/gato1.jpg'), raza: 'azul ruso'},
      ]
    }
  },
}
</script>

<style>
.personHeight{
    height: 640px;
}
</style>