<template>
    <div class="relative rounded-xl overflow-auto p-8">
  <div class="personHeight overflow-auto flex-wrap max-h-5xl mx-auto bg-white dark:bg-slate-800 dark:highlight-white/5 shadow-lg ring-1 ring-black/5 rounded-xl flex flex-row divide-y divide-x dark:divide-slate-200/5">
    <div v-for="perro in perros" :key="perro.id" class="flex items-center gap-4 p-4 w-1/4 h-2/5 flex-col">
      <img class="w-44 h-36"  v-bind:src="perro.foto" width="">
      <div class="flex flex-col">
        <strong class="text-slate-900 text-base dark:text-slate-200 font-bold"> {{ perro.nombre }}</strong>
        <span class="text-slate-500 text-sm font-medium dark:text-slate-400">- {{ perro.edad }} años </span>
        <span class="text-slate-500 text-sm font-medium dark:text-slate-400">- {{ perro.peso }} kilos </span>
        <span class="text-slate-500 text-sm font-medium dark:text-slate-400">- raza: {{ perro.peso }} </span>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
   data(){
    return{
      perros:[
        {nombre:'Pepa', edad: '10', peso: '15.2', foto: require('../assets/perro.jpg'), raza: 'bodeguero'},
        {nombre:'pipa', edad: '4', peso: '2.0', foto: require('../assets/perro1.jpg'), raza: 'huskie'},
        {nombre:'pupa', edad: '1', peso: '8.1', foto: require('../assets/perro2.jpg'), raza: 'golden nosek'},
        {nombre:'popa', edad: '3', peso: '7.4', foto: require('../assets/perro3.jpg'), raza: 'bobo'},
        {nombre:'papa', edad: '12', peso: '4.2', foto: require('../assets/perro.jpg'), raza: 'bodeguero'},
        {nombre:'pepo', edad: '5', peso: '3.3', foto: require('../assets/perro1.jpg'), raza: 'bodeguero'},
        {nombre:'pepo', edad: '5', peso: '6.3', foto: require('../assets/perro3.jpg'), raza: 'bodeguero'},
        {nombre:'pepo', edad: '5', peso: '12.3', foto: require('../assets/perro.jpg'), raza: 'bodeguero'},
        {nombre:'pepo', edad: '5', peso: '21.3', foto: require('../assets/perro2.jpg'), raza: 'bodeguero'},
        {nombre:'pepo', edad: '5', peso: '5.3', foto: require('../assets/perro1.jpg'), raza: 'bodeguero'},
      ]
    }
  },
}
</script>

<style>
.personHeight{
    height: 640px;
}
</style>