<template>
  <div class="w-full">
    <div class="flex justify-between topBar">
      <div>
        <button
          id="dropdownDividerButton"
          data-dropdown-toggle="dropdown"
          class="text-white bg-orange-300 hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-200 font-medium rounded-lg text-sm  text-center inline-flex items-center  mt-1 ml-1"
          type="button"
        >
          <svg
            class="w-8 h-8"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path xmlns="http://www.w3.org/2000/svg" stroke-width="3" stroke-linecap="round" stroke="#000" d="M5 6L19 6M5 12L19 12M5 18L19 18"/>
          </svg>
        </button>

        <div id="dropdown" class="z-10 hidden bg-orange-300 divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700">
          <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
            
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Cuidados</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Centros Acogida</a>
            </li>
            <li>
              <button id="dropdownRightButton" data-dropdown-toggle="dropdownRight" data-dropdown-placement="right" class=" w-44 block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" type="button">
               Animales
              </button>

              <div id="dropdownRight" class="z-10 hidden bg-orange-200 divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700">
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRightButton">
                  <li>
                    <a href="/perro" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Perros</a>
                  </li>
                  <li>
                    <a href="/gatos" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Gatos</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Otros</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Foro</a>
            </li>
          </ul>
      </div>

      </div>
        <div class="p-2 w-40">
            <a href="/about">
            <button
                class="w-3/4 bg-orange-500 hover:bg-orange-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                type="button"
                >
                About
            </button>
            </a>
        </div>
        <div class="p-2 w-40">
                <a href="/">
                <button
                    class="w-3/4 bg-orange-500 hover:bg-orange-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                    type="button"
                    >
                    Animalyu
                </button>
                </a>
            </div>
        <div class="p-2 w-40">
                <a href="/login">
                <button
                    class="w-3/4 bg-orange-500 hover:bg-orange-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                    type="button"
                    >
                    Login
                </button>
                </a>
            </div>
    </div>    
  </div>
  <router-view />
  <div class="flex justify-around topBar ">
      <div class="flex flex-col items-start p-2">
        <div class="p-2">telefono: 666-666-666</div>
        <div class="p-2">mail: animalyu@animalyu.com</div>
      </div>
      <div class="flex  p-2">
        <div class="p-4 w-44">
                <a href="https://www.instagram.com/">
                <button
                    class="w-3/4 bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button"
                    
                    >
                    Instagram
                </button>
                </a>
            </div>
            <div class="p-4 w-44">
                <a href="https://www.facebook.com">
                <button
                    class="w-3/4 bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button"
                    >
                    Facebook
                </button>
                </a>
            </div>
            <div class="p-4 w-40">
                <a href="https://www.twitter.com">
                <button
                    class="w-3/4 bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button"
                    >
                    Twitter
                </button>
                </a>
            </div>
      </div>
    </div>
</template>
<script>

import username from "./components/LoginRegistroComponent.vue"
export default {
  
  data(){
    console.log(username)
  }
}
</script>
<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
