@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    background-image:url("D:\CRUD\prueba1\src\assets\animalyuTexture.jpg");
    background-size: 1000px;
    
}
#app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    height: 100%;
}
.topBar{
    background-color: #89767c;
    color: white;
}
/*
#e4d8c9
#89767c
#5f5557
#ece2db*/